
DerivedData/harvest-card/Build/Intermediates/harvest-card.build/Debug/harvest-card.build/dgph

DerivedData/harvest-card/Build/Intermediates/harvest-card.build/Debug/harvest-card.build/dgph

DerivedData/harvest-card/Build/Intermediates/harvest-card.build/Debug/harvest-card.build/dgph~

DerivedData/harvest-card/Build/Intermediates/harvest-card.build/Debug/harvest-card.build/dgph~

DerivedData/harvest-card/Build/Intermediates/harvest-card.build/Debug/harvest-card.build/dgph~

DerivedData/harvest-card/Build/Intermediates/harvest-card.build/Debug/harvest-card.build/dgph~

DerivedData/harvest-card/Build/Intermediates/harvest-card.build/Debug/harvest-card.build/dgph~

DerivedData/harvest-card/Build/Intermediates/harvest-card.build/Debug/harvest-card.build/dgph~

*.xcindexdb

*.xcindexdb-shm

*.xcindexdb-wal

*.plist

*.idx

*.xcuserstate
